# This is an example environment file for the blockchain insight application.
RPC_URL=https://google.com

# the name of the blockchain network (e.g., ethereum-mainnet, ethereum-ropsten, etc.)
NETWORK_NAME=ethereum-XXXX

# the timeout in seconds for RPC requests
TIMEOUT_SEC=number